<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Success Page</title>
  </head>
  <body>
    <div id="content">
     


      <div class="grid grid-cols-12 mt-10">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
              <!--card start-->
              
            <div  class="block p-6 border-t-[10px] border-blue-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700">
              <div class="text-center">
              <div  data-th-replace="~{message::messagebox}"></div>             
             
            </div>
            </div>
          </div>
      </div>
    

      
    </div>
    <script>
      console.log("Signup page");
    </script>
    <script>
      console.log("second Signup page script");
    </script>
  </body>
</html>
